{% include 'head.html'%}
<head>
<style>
body {
  background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v870-tang-36_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=d79f64b7b61002995177b5a8d81b522e");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  height:200px;
}
</style>
</head>
<div class="text-center h3 " style="margin-top:100px">Welcome <b>{{doctor[1]}}</b></div>